@model Project.Models.Entities.Machine

@{
    ViewData["Title"] = "Details Machine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinTemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinTemp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxTemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxTemp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leakage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leakage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evaporation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evaporation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Electricity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Electricity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter1Dir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter1Dir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter1Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter1Speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter2_9am)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter2_9am)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter2_3pm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter2_3pm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter3_9am)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter3_9am)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter3_3pm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter3_3pm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter4_9am)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter4_9am)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter4_3pm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter4_3pm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter5_9am)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter5_9am)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter5_3pm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter5_3pm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter6_9am)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter6_9am)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter6_3pm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter6_3pm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter7_9am)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter7_9am)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter7_3pm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter7_3pm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Failure_today)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Failure_today)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RISK_MM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RISK_MM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fail_tomorrow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fail_tomorrow)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
