@model IEnumerable<Project.Models.Entities.Faculty>

@{
    ViewData["Title"] = "Faculty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Faculty</h1>
<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create")'">Create</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacultyName)
            </th>
            <th class="action">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FacultyName)
                </td>
                <td>
                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Edit", new { id = item.FacultyId })'">Edit</button>
                    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Details", new { id = item.FacultyId })'">Details</button>
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.FacultyId })'">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
