@model IEnumerable<Project.Models.Entities.SubjectClass>

@{
    ViewData["Title"] = "SubjectClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>SubjectClass</h1>
<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create")'">Create</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Giảng viên
            </th>
            <th>
                Môn học
            </th>
            <th class="action">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lecturer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                </td>
                <td>
                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Edit", new { id = item.SubjectClassId })'">Edit</button>
                    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Details", new { id = item.SubjectClassId })'">Details</button>
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.SubjectClassId })'">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
